Repository raystack/apsara: changes, and which lefthook commands are due for each by the changed paths.
All: check, figma-validate-config

check:
  run: pnpm format
  stage_fixed: true

figma-validate-config:
  run: pnpm --filter @raystack/apsara figma:validate-config

chore: remove eslint and prettier
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/raystack/package.json
Due: check

feat: improve datatable.displaycontrols
  apps/www/src/app/examples/table/page.tsx
  apps/www/src/content/docs/components/datatable/index.mdx
  apps/www/src/content/docs/components/datatable/props.ts
  packages/raystack/components/data-table/components/display-settings.tsx
  packages/raystack/components/data-table/data-table.tsx
  packages/raystack/components/data-table/data-table.types.tsx
Due: check

feat: add tools-configs folder
  packages/tools-configs/package.json
  pnpm-lock.yaml
Due: check

chore: move biome.json to tools-configs
  biome.json
  packages/tools-configs/biome.json
Due: check

chore: update biome to 2
  package.json
  packages/tools-configs/biome.json
  packages/tools-configs/package.json
  pnpm-lock.yaml
Due: check

chore: add new root biome.json
  biome.json
Due: check

chore: add new lint check in apsara package
  packages/raystack/biome.json
  packages/raystack/package.json
Due: check

chore: add new lint check in docs site
  apps/www/biome.json
  apps/www/package.json
Due: check

chore: move tsconfigs to tools-configs
  packages/tools-configs/tsconfig/base.json
  packages/tools-configs/tsconfig/react.json
Due: check

chore: extends ts-config from common configs
  apps/www/tsconfig.json
  packages/raystack/tsconfig.json
  packages/tools-configs/package.json
Due: check

chore: remove tsconfig package
  packages/raystack/package.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: check

docs: add readme to tools-configs
  packages/tools-configs/README.md
  packages/tools-configs/package.json
Due: check

feat: add biome to vscode plugin package
  packages/plugin-vscode/biome.json
  packages/plugin-vscode/package.json
  pnpm-lock.yaml
Due: check

chore: update package.json
  packages/tools-configs/package.json
Due: check

chore: move the script to root
  scripts/bump-version.js
Due: check

chore: update script to bump version in multiple package
  package.json
  pnpm-lock.yaml
  scripts/bump-version.js
Due: check

chore: update github actions file
  .github/workflows/release-rc.yaml
  .github/workflows/release.yaml
Due: none

feat: add scroll area component
  apps/www/src/app/examples/page.tsx
  packages/raystack/components/scroll-area/index.ts
  packages/raystack/components/scroll-area/scroll-area-corner.tsx
  packages/raystack/components/scroll-area/scroll-area-root.tsx
  packages/raystack/components/scroll-area/scroll-area-scrollbar.tsx
  packages/raystack/components/scroll-area/scroll-area-viewport.tsx
  packages/raystack/components/scroll-area/scroll-area.module.css
  packages/raystack/components/scroll-area/scroll-area.tsx
  packages/raystack/index.tsx
Due: check

style: add transition
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: none

feat: code connect support for form elements
  packages/raystack/figma.config.json
  packages/raystack/figma/button.figma.tsx
  packages/raystack/figma/checkbox.figma.tsx
  packages/raystack/figma/input.figma.tsx
  packages/raystack/figma/radio.figma.tsx
  packages/raystack/figma/search.figma.tsx
  packages/raystack/figma/slider.figma.tsx
  packages/raystack/figma/switch.figma.tsx
  packages/raystack/figma/textarea.tsx
  packages/raystack/scripts/update-figma-config.js
Due: check, figma-validate-config

feat: code connect misc components
  packages/raystack/figma/avatar.figma.tsx
  packages/raystack/figma/badge.figma.tsx
  packages/raystack/figma/chip.figma.tsx
  packages/raystack/figma/icon-button.figma.tsx
  packages/raystack/figma/indicator.figma.tsx
  packages/raystack/figma/spinner.figma.tsx
  packages/raystack/figma/tooltip.figma.tsx
Due: check

feet: code connect components for remaining components
  packages/raystack/figma/accordion.figma.tsx
  packages/raystack/figma/announcement-bar.tsx
  packages/raystack/figma/callout.figma.tsx
  packages/raystack/figma/empty-state.figma.tsx
  packages/raystack/figma/separator.figma.tsx
Due: check

feat: code connect support for icons
  packages/raystack/package.json
  packages/raystack/scripts/generate-icons-code-connect.js
Due: check

style: simplify styling
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: none

fix: className not found
  packages/raystack/components/scroll-area/scroll-area-corner.tsx
  packages/raystack/components/scroll-area/scroll-area-root.tsx
  packages/raystack/components/scroll-area/scroll-area-scrollbar.tsx
  packages/raystack/components/scroll-area/scroll-area-viewport.tsx
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: check

fix: remove redundant prop
  apps/www/src/app/examples/page.tsx
  packages/raystack/components/scroll-area/scroll-area-scrollbar.tsx
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: check

fix: hidden by default
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: none

style: faster transition
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: none

style: overscroll auto and vars
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: none

docs: add mdx
  apps/www/src/content/docs/components/scroll-area/demo.ts
  apps/www/src/content/docs/components/scroll-area/index.mdx
  apps/www/src/content/docs/components/scroll-area/props.ts
Due: check

fix: bg color
  packages/raystack/components/scroll-area/scroll-area.module.css
Due: none

test: add unit tests
  packages/raystack/components/scroll-area/__tests__/scroll-area.test.tsx
Due: check

chore: rename folder
  packages/tools-config/README.md
  packages/tools-config/biome.json
  packages/tools-config/package.json
  packages/tools-config/tsconfig/base.json
  packages/tools-config/tsconfig/react.json
Due: check

chore: rename tools-configs to tools-config
  .github/workflows/release-rc.yaml
  .github/workflows/release.yaml
  apps/www/biome.json
  apps/www/package.json
  apps/www/tsconfig.json
  biome.json
  package.json
  packages/plugin-vscode/biome.json
  packages/plugin-vscode/package.json
  packages/raystack/biome.json
  packages/raystack/package.json
  packages/raystack/tsconfig.json
  packages/tools-config/README.md
  packages/tools-config/package.json
  pnpm-lock.yaml
Due: check

feat: code connect support for form elements (#556)
  packages/raystack/figma.config.json
  packages/raystack/figma/button.figma.tsx
  packages/raystack/figma/checkbox.figma.tsx
  packages/raystack/figma/input.figma.tsx
  packages/raystack/figma/radio.figma.tsx
  packages/raystack/figma/search.figma.tsx
  packages/raystack/figma/slider.figma.tsx
  packages/raystack/figma/switch.figma.tsx
  packages/raystack/figma/textarea.tsx
  packages/raystack/scripts/update-figma-config.js
Due: check, figma-validate-config

feat: code connect misc components (#557)
  packages/raystack/figma/avatar.figma.tsx
  packages/raystack/figma/badge.figma.tsx
  packages/raystack/figma/chip.figma.tsx
  packages/raystack/figma/icon-button.figma.tsx
  packages/raystack/figma/indicator.figma.tsx
  packages/raystack/figma/spinner.figma.tsx
  packages/raystack/figma/tooltip.figma.tsx
Due: check

perf: reduce package size
  .gitignore
  packages/raystack/.npmignore
  packages/raystack/rollup.config.mjs
Due: check

chore: remove comment:
  packages/raystack/.npmignore
Due: none

feat: add common tools configs package (#554)
  .github/workflows/release-rc.yaml
  .github/workflows/release.yaml
  apps/www/biome.json
  apps/www/package.json
  apps/www/tsconfig.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/plugin-vscode/biome.json
  packages/plugin-vscode/package.json
  packages/raystack/biome.json
  packages/raystack/package.json
  packages/raystack/scripts/bump-version.js
  packages/raystack/tsconfig.json
  packages/tools-config/README.md
  packages/tools-config/biome.json
  packages/tools-config/package.json
  packages/tools-config/tsconfig/base.json
  packages/tools-config/tsconfig/react.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  scripts/bump-version.js
Due: check

feat: code connect support for icons and other components (#558)
  packages/raystack/figma/accordion.figma.tsx
  packages/raystack/figma/announcement-bar.tsx
  packages/raystack/figma/callout.figma.tsx
  packages/raystack/figma/empty-state.figma.tsx
  packages/raystack/figma/separator.figma.tsx
  packages/raystack/package.json
  packages/raystack/scripts/generate-icons-code-connect.js
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  figma-validate-config: any of: packages/raystack/figma.config.json
